* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#greeting {
  margin: 20px 0;
  text-align: center;
  color: blue;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background: rgb(134, 70, 70);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
